/* social icons*/

.social-icons {
  .fas,
  .fab,
  .far,
  .fal {
    color: $text-color;
  }
  /*.fa-linkedin,
  .fa-linkedin-in {
   color: black;
  }*/

  .fa-twitter-square {
    color: #000000;
  }
}
