<!-- ---
layout: default
---

<div class="container homepage">
  <div class="introduction">
    <h1>Hello, I'm Shambhavi</h1>
    <p>I write, draw, and share my thoughts here.</p>
  </div>

  <div class="sections">
    <section>
      <h2><a href="/work/">Writing</a></h2>
      <p>A collection of my thoughts and essays.</p>
    </section>
    <section>
      <h2><a href="/sketchbook/">Sketchbook</a></h2>
      <p>Some of my art and illustrations.</p>
    </section>
    <section>
      <h2><a href="/about/">About</a></h2>
      <p>Learn more about me.</p>
    </section>
  </div>
</div>
 -->
