---
layout: default
---

<div class="posts">
  <h1 style="font-style: italic;">Blog</h1> <!-- Changed to italic -->
  <div class="post-list">
    {% for post in site.posts %}
      <article class="post-summary">
        <h2><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" | downcase }}, shelved under: {{ post.categories | join: ', ' }}</p>
      </article>
    {% endfor %}
  </div>
</div>

<style>
  .posts {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Center-aligns all text within the .posts container */
  }
  .post-summary {
    padding-bottom: 5px; /* Reduced padding to decrease space between post titles */
    margin-bottom: 5px;  /* Reduced margin to decrease space between post titles */
  }
  .post-summary h2 {
    font-size: 1.2em; /* Smaller font size for post titles */
    margin: 0;
  }
  .post-title {
    text-decoration: none; /* Removes underline from post titles */
    color: inherit; /* Keeps the default color */
  }
  .post-meta {
    font-size: 0.9em; /* Smaller font size */
    color: #888; /* Grey color */
    /* font-style: italic; /* Italicize text */*/
    margin-top: 1px;
  }
  .read-more {
    color: #00050a;
    text-decoration: none;
  }
</style>
