---
layout: default
---

<div class="posts">
  <h1>Posts</h1>
  <div class="post-list">
    {% for post in site.posts %}
      <article class="post-summary">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%B %d, %Y" }}, Category: {{ post.categories | join: ', ' }}</p>
      </article>
    {% endfor %}
  </div>
</div>

<style>
  .posts {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Center-aligns all text within the .posts container */
  }
  .post-summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .post-summary h2 {
    font-size: 1.5em;
    margin: 0;
  }
  .post-meta {
    font-size: 0.9em; /* Smaller font size */
    color: #888; /* Grey color */
    font-style: italic; /* Italicize text */
    margin-top: 5px;
  }
  .read-more {
    color: #00050a;
    text-decoration: none;
  }
</style>
